<div id="links" class="cotton_pads">
  <div class="cotton_pads_next_line">    
    <a href="/images/Kataloglar/KISISELBAKIMURUNLERI/MAKYAJPAMUKLARI/1.gif" title="" data-gallery>
        <img src="/images/Kataloglar/KISISELBAKIMURUNLERI/MAKYAJPAMUKLARI/1.gif" alt="">
    </a>
    <a href="/images/Kataloglar/KISISELBAKIMURUNLERI/MAKYAJPAMUKLARI/2.gif" title="" data-gallery>
        <img src="/images/Kataloglar/KISISELBAKIMURUNLERI/MAKYAJPAMUKLARI/2.gif" alt="">
    </a>
    <a href="/images/Kataloglar/KISISELBAKIMURUNLERI/MAKYAJPAMUKLARI/3.gif" title="" data-gallery>
        <img src="/images/Kataloglar/KISISELBAKIMURUNLERI/MAKYAJPAMUKLARI/3.gif" alt="">
    </a>
    <a href="/images/Kataloglar/KISISELBAKIMURUNLERI/MAKYAJPAMUKLARI/4.gif" title="" data-gallery>
        <img src="/images/Kataloglar/KISISELBAKIMURUNLERI/MAKYAJPAMUKLARI/4.gif" alt="">
    </a>
    <a href="/images/Kataloglar/KISISELBAKIMURUNLERI/MAKYAJPAMUKLARI/5.gif" title="" data-gallery>
        <img src="/images/Kataloglar/KISISELBAKIMURUNLERI/MAKYAJPAMUKLARI/5.gif" alt="">
    </a>
    </div>
    <div class="cotton_pads_next_line">
    <a href="/images/Kataloglar/KISISELBAKIMURUNLERI/MAKYAJPAMUKLARI/6.gif" title="" data-gallery>
        <img src="/images/Kataloglar/KISISELBAKIMURUNLERI/MAKYAJPAMUKLARI/6.gif" alt="">
    </a>
    <a href="/images/Kataloglar/KISISELBAKIMURUNLERI/MAKYAJPAMUKLARI/7.gif" title="" data-gallery>
        <img src="/images/Kataloglar/KISISELBAKIMURUNLERI/MAKYAJPAMUKLARI/7.gif" alt="">
    </a>
    <a href="/images/Kataloglar/KISISELBAKIMURUNLERI/MAKYAJPAMUKLARI/8.gif" title="" data-gallery>
        <img src="/images/Kataloglar/KISISELBAKIMURUNLERI/MAKYAJPAMUKLARI/8.gif" alt="">
    </a>
    <a href="/images/Kataloglar/KISISELBAKIMURUNLERI/MAKYAJPAMUKLARI/9.gif" title="" data-gallery>
        <img src="/images/Kataloglar/KISISELBAKIMURUNLERI/MAKYAJPAMUKLARI/9.gif" alt="">
    </a>
  </div>
</div>
