<div id="links" class="dental_kit">
    
    <%# link_to(image_url("Kataloglar/KISISELBAKIMURUNLERI/KISISELBAKIMSETI/1.jpg"), {"data-dialog" => "data-dialog"}) do %> 
                 <%# image_tag("Kataloglar/KISISELBAKIMURUNLERI/KISISELBAKIMSETI/1.jpg") %> 
               <%# end %>
  <div class="dental_kit_next_line">    
    <a href="/images/Kataloglar/KISISELBAKIMURUNLERI/DISSETLERI/1.gif" title="" data-gallery>
        <img src="/images/Kataloglar/KISISELBAKIMURUNLERI/DISSETLERI/1.gif" alt="">
    </a>
    <a href="/images/Kataloglar/KISISELBAKIMURUNLERI/DISSETLERI/2.gif" title="" data-gallery>
        <img src="/images/Kataloglar/KISISELBAKIMURUNLERI/DISSETLERI/2.gif" alt="">
    </a>
    <a href="/images/Kataloglar/KISISELBAKIMURUNLERI/DISSETLERI/3.gif" title="" data-gallery>
        <img src="/images/Kataloglar/KISISELBAKIMURUNLERI/DISSETLERI/3.gif" alt="">
    </a>
    <a href="/images/Kataloglar/KISISELBAKIMURUNLERI/DISSETLERI/4.gif" title="" data-gallery>
        <img src="/images/Kataloglar/KISISELBAKIMURUNLERI/DISSETLERI/4.gif" alt="">
    </a>
    <a href="/images/Kataloglar/KISISELBAKIMURUNLERI/DISSETLERI/5.gif" title="" data-gallery>
        <img src="/images/Kataloglar/KISISELBAKIMURUNLERI/DISSETLERI/5.gif" alt="">
    </a>
    <a href="/images/Kataloglar/KISISELBAKIMURUNLERI/DISSETLERI/6.gif" title="" data-gallery>
        <img src="/images/Kataloglar/KISISELBAKIMURUNLERI/DISSETLERI/6.gif" alt="">
    </a>
    <a href="/images/Kataloglar/KISISELBAKIMURUNLERI/DISSETLERI/7.gif" title="" data-gallery>
        <img src="/images/Kataloglar/KISISELBAKIMURUNLERI/DISSETLERI/7.gif" alt="">
    </a>
  </div>
  
  <div class="dental_kit_next_line">
    <a href="/images/Kataloglar/KISISELBAKIMURUNLERI/DISSETLERI/8.gif" title="" data-gallery>
        <img src="/images/Kataloglar/KISISELBAKIMURUNLERI/DISSETLERI/8.gif" alt="">
    </a>
    <a href="/images/Kataloglar/KISISELBAKIMURUNLERI/DISSETLERI/9.gif" title="" data-gallery>
        <img src="/images/Kataloglar/KISISELBAKIMURUNLERI/DISSETLERI/9.gif" alt="">
    </a>
    <a href="/images/Kataloglar/KISISELBAKIMURUNLERI/DISSETLERI/10.gif" title="" data-gallery>
        <img src="/images/Kataloglar/KISISELBAKIMURUNLERI/DISSETLERI/10.gif" alt="">
    </a>
    <a href="/images/Kataloglar/KISISELBAKIMURUNLERI/DISSETLERI/11.gif" title="" data-gallery>
        <img src="/images/Kataloglar/KISISELBAKIMURUNLERI/DISSETLERI/11.gif" alt="">
    </a>
    <a href="/images/Kataloglar/KISISELBAKIMURUNLERI/DISSETLERI/12.gif" title="" data-gallery>
        <img src="/images/Kataloglar/KISISELBAKIMURUNLERI/DISSETLERI/12.gif" alt="">
    </a>
    <a href="/images/Kataloglar/KISISELBAKIMURUNLERI/DISSETLERI/13.gif" title="" data-gallery>
        <img src="/images/Kataloglar/KISISELBAKIMURUNLERI/DISSETLERI/13.gif" alt="">
    </a>
    <a href="/images/Kataloglar/KISISELBAKIMURUNLERI/DISSETLERI/14.gif" title="" data-gallery>
        <img src="/images/Kataloglar/KISISELBAKIMURUNLERI/DISSETLERI/14.gif" alt="">
    </a>
  </div>
  <div class="dental_kit_next_line">
    <a href="/images/Kataloglar/KISISELBAKIMURUNLERI/DISSETLERI/15.gif" title="" data-gallery>
        <img src="/images/Kataloglar/KISISELBAKIMURUNLERI/DISSETLERI/15.gif" alt="">
    </a>
  </div>
</div>
