
<div id="links" class="contact_us">
  <b><span class="header-contact_us">İletişim</span></b>
  <br /><br /><br />
  <b><span class="header-contact_us2">Euro Haten Kozmetik ve Plastik Ltd.</span></b><br /><br /> 
  <b><span class="header-contact_us3">Türkiye Ofisi:</span></b><br /> 
  <div class="paragraph_fonts">
    Akasya Sk. No: 2<br /> 
    Mashattan No: T203-T204<br /> 
    Maslak/İstanbul<br />
    e-mail: <%= mail_to("info@eurohaten.com") %><br />
  </div>
  <br /><br />
  <b><span class="header-contact_us3">İngiltere Ofisi:</span></b><br />
  <div class="paragraph_fonts">
    148 Chingford Road,<br /> 
    Walthamstow London,<br /> 
    E17 4PL<br /> 
    e-mail: <%= mail_to("uk@eurohaten.com") %><br />
  </div>
</div>