<div id="links" class="production">
<b><span class="header-production">Production</span></b>

<br />
<div class="paragraph_fonts">
<p>
EURO HATEN Ltd – the company with 28 years’ experience in Hotel Cosmetics and Amenities.<br /> 
Haten Cosmetics is the market leader as we are by far the largest manufacturer in Turkey.<br />
</p>

<p>
Main sections as soap production, plastic injection blowing, cosmetics production,<br /> 
textile products, filling packaging are all in the structure of the firm. Holding quality<br /> 
assurance certificates from British Certifications Inc. all productions are supported by<br /> 
research-development department and quality control labs. and approved by the<br /> 
Ministry of Health.<br />
</p>

<p>
We are serving to our customers with the 150,000 filling, 140,000 solid soap production,<br /> 
20 tons of cosmetics production, 20,000 pieces of slipper production daily and 3,400,000<br /> 
bottles with lids monthly and also with its fully formed printing section.<br /> 
</p>

<p>
Producing all products in one firm enables us to serve our customers high quality with low price.<br /> 
You will have the great advantage of being in contact directly with the producer.<br />
</p>

</div>
</div>