<div id="links" class="production">
<b><span class="header-production">Üretim</span></b>

<br />
<div class="paragraph_fonts">
<p>
28 yıllık tecrübesiyle Euro Haten Kozmetik, üretimden gelen gücü ile kendi bünyesinde<br /> 
tasarladığı eşsiz koleksiyonları, 7500 m2’lik entegre tesisleri, birinci sınıf üretim<br /> 
kalitesi, otel buklet sektörüne yerleştirdiği güven ve itibarıyla anılmakta; devamlı<br /> 
büyüyen ve gelişen üretim bantları ile Türkiye’de başta büyük grup oteller olmak üzere<br /> 
yurtdışı müşterilerine de hizmet vermekten onur duymaktadır.<br />
</p>

<p>
Sabun imalatı, plastik şişirme enjeksiyon, kozmetik üretim, tekstil ürünleri, dolum,<br /> 
paketleme gibi ana bölümlerden oluşan entegre üretim yapan bir firmadır. Üretim<br /> 
faaliyetlerini Ar-Ge, tasarım ve kalite kontrol laboratuvarı departmanları desteklemektedir.<br />
</p>

<p>
Günlük 150.000 şişe dolum, 140.000 katı sabun imalatı, 20 ton kozmetik imalatı, 20.000 adet<br /> 
terlik imalatı, aylık 3.400.000 adet şişe ve kapak üretiminin yanı sıra tam teşekküllü<br /> 
matbaasıyla da siz değerli müşterilerimize hizmet vermektedir.<br />
</p>

<p>
Tüm ürünleri tek çatı altında üretmek, müşterilerimize yüksek kaliteyi düşük fiyatla elde etme<br /> 
ve direkt olarak üretici firma ile kontak kurma avantajını sağlamaktadır.<br />
</p>

</div>
</div>