<div id="links" class="profile">
<b><span class="header-profile">Profile</span></b>

<br />
<div class="paragraph_fonts">
<p>
Euro Haten Cosmetics and Plastics Ltd. produces first class hotel amenity and toiletry products<br /> 
like soap, shampoo, shower gel, slippers, toothbrush etc. in its own integrated 7500 m2 factory<br /> 
in Istanbul. Established in 1988, it first began to serve as the plastic manufacturing industry<br /> 
and it has been a leading firm with its productions and designs in the hotel cosmetic sector.<br />
</p>


<p>
We supply many International Hotel groups such as <b>Marriot, Sheraton, Hilton, Blu,<br /> 
Sol, IC, Ramada, Holiday Inn, Wyndham, Rixos, Accor</b> as well as thousands of<br /> 
Hotels from two-stars to five-stars in Turkey, Cyprus, Greece, UAE etc.<br />
</p>

<p>
Our company specializes in manufacturing and supplying all sorts of Hotel & Hospitality Industry<br /> 
cosmetics and other guest amenities. We CAN personalize all our products with your logo and<br /> 
manufacture to your exact specification. Haten has its own plastic manufacturing facility<br /> 
as well as its own printing house within its vertical operation that enable us to personalize<br /> 
the order at lowest possible prices.
</p>
</div>
</div>