<div id="links" class="profile">
<b><span class="header-profile">Profil</span></b>

<br />
<div class="paragraph_fonts">
<p>

Euro Haten Kozmetik ve Plastik Ltd. İstanbul’da 7500m2 üzerine kurulu bulunan tesislerinde<br /> 
şampuan, duş jeli, sabun, terlik, diş fırçası gibi otel buklet sanayiine dair birinci sınıf<br /> 
ürünleri komplike olarak üreten tek firmadır. 1988 yılında kurulan Haten Plastik ve Kozmetik Sanayi<br /> 
Ltd.Şti, ilk olarak plastik imalat sektöründe, daha sonra gerçekleşen hedefler doğrultusunda kozmetik<br />
imalat sektöründe hizmete başlamıştır.<br /> 
</p>


<p>
Birinci sınıf üretim kalitesi sonucu otel kozmetik sektörüne yerleştirdiği güven ve itibarıyla<br /> 
anılmakta, devamlı büyüyen ve gelişen bantlarıyla yurtiçi ve yurtdışında <b>Marriot, Sheraton, Hilton,<br /> 
Blu, Sol, IC, Ramada, Holiday Inn, Wyndham, Rixos, Accor</b> gibi önde gelen otel zincirlerine hizmet<br /> 
vermektedir.<br />
</p>

</div>
</div>