<div id="links" class="vandm">
<b><span class="header-vandm">Vizyon ve Misyon</span></b>

<br />
<div class="paragraph_fonts">
<p>
Şirket olarak Euro Haten Kozmetik, geniş müşteri portföyüne yönelik; üretimden gelen<br /> 
gücü ile ayrıcalıklı tasarımları oluşturmakta ve müşteri memnuniyetini en üst düzeylere<br /> 
taşımayı amaçlamaktadır.<br />
</p>

<p>
İş ortaklarımıza, sunduğumuz ürün ve hizmetlerin en kaliteli olması; günlük çözümler yerine<br /> 
kalıcı çözümler sunulması, teknolojik gelişimlere ayak uydurmak ve kalite odaklı üretim yapmak<br /> 
temel prensiplerimizdir.
</p>

<p>
Bu anlayış ile üretim, pazarlama ve tasarımları ile liderliğini daha ileriye taşımak; kaliteli ve<br /> 
en iyi hizmeti sunarak, müşteri memnuniyeti en üst seviyelere ulaştırmak, sosyal sorumluluklara<br /> 
önem vermek ve ülke ekonomisine olan katkımızı her geçen gün daha da ilerletmek en büyük amacımızdır.<br />
</p>

</div>
</div>
